*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: url("../images/bg.jfif");
}
.container{
    margin:0 auto;
    width: 1170px;
}
.clear{
    clear: both;
}

.head{
    text-align:center;
    color: white;
}
.head .img{
    float: left;
    margin: 10px 10px;
}
.topbar{
    display: none;
}
.topbar ul{
    text-align: center;
    width: 200px;
    list-style-type: none;
}
.topbar ul li{
    position: relative;
    background-color: wheat;
    width: auto;
    line-height: 40px;
    margin-bottom: 2px;
}
.topbar ul li a{
    text-decoration: none;
    display: block;
    color: tomato;
    font-weight: bold;
}
.topbar a:hover{
    background-color: yellowgreen;
}
/* .topbar .sub-menu{
    position: absolute;
    left: 205px;
    top: 0;
    display: none;
}
.topbar .sub-menu li{
    position: relative;
    background-color: rgb(224, 243, 252);
    width: auto;
    height: 40px;
    line-height: 40px;
}
.topbar li:hover .sub-menu{
    display: block;
} */
.topbar .sub-menu{
    display: none;
}
.main{
    position: relative;
}
.left{
    position: fixed;
}
.left .menu ul{
    text-align: center;
}
.left .menu ul li{
    list-style: none;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color:rgb(238, 89, 89) ;
}

.left .menu ul li a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 200px;
    height: 40px;
}
.left .menu ul li a:hover{
    background-color: yellow;
    color: rgb(202, 24, 24);
}
.left a.active{
    background-color: yellowgreen;
}
.left{
    float: left;
    width: 30%;
}

.right .text{
    display: none;
}
.right .text.active{
    display: block;
}
.right .text p{
    text-align: justify;
}
.right{
    float: right;
    width: 70%;
}